.btn-contact-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.btn-contact {
  padding: 1rem 1.5rem;
  border: 1px solid var(--text);
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--text);
}

.btn-contact:hover {
  color: var(--hover);
  background-color: rgba(100, 255, 218, 0.1);
}
