.homapage-main-container {
  width: 100%;
}

.homapage-container {
  display: flex;
  justify-content: center;
  width: inherit;
}

@media only screen and (max-width: 420px) {
  .homapage-container {
    flex-direction: column;
    align-items: center;
  }
}
